{
  'passPerPreset': true,
    'presets': [
    {
      'plugins': ['transform-runtime', 'transform-export-extensions']
    },
    {
      'passPerPreset': false,
      'presets': ['es2015', 'stage-0']
    }
    ]
}
